[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sty = "*"


[dev-packages]

"ruamel.yaml" = "*"
wheel = "*"
pytest = "*"
buildlib = "==2.0.0-beta.8"
docopt = "*"


[requires]

python_version = "3.6"
